@charset "UTF-8";

:root {
  /* Brand specific primary colors. */
  --brand-primary: #4d6ac7;
  --brand-secondary: #474b53;
  --brand-tertiary: #69707b;
  --brand-quaternary: #8d97a5;
  --brand-quinary: #b3c1d1;
  --brand-senary: #FFFFFE;
  --brand-septenary: #aeccf3;
  --brand-octonary: #87ace6;
  --brand-nonary: #20315C;
  --brand-denary: #3d47b2;

  /* Brand specific neutral colors & Generic tones/ */
  --neutral-transparent: transparent;
  --neutral-white: #FFFFFE;
  --neutral-grayLight: #c2c2c2;
  --neutral-grayMedium: #949494;
  --neutral-grayDark: #3f3f3f;
  --neutral-black: #1a1a1a;

  /* Colors for UI notification messages. */
  --status-success: #28ba62;
  --status-warning: #ffc409;
  --status-error: #eb445a;
  --status-info: var(--brand-nonary);

  --ui-infoBackground: var(--status-info);
  --ui-infoText: var(--neutral-white);
  --ui-infoBorder: var(--status-info);

  --ui-successBackground: var(--status-success);
  --ui-successText: var(--neutral-white);
  --ui-successBorder: var(--status-success);

  --ui-warningBackground: var(--status-warning);
  --ui-warningText: var(--neutral-white);
  --ui-warningBorder: var(--neutral-white);

  --ui-errorBackground: var(--status-error);
  --ui-errorText: var(--neutral-white);
  --ui-errorBorder: var(--status-error);

  /* Demo colors used for default component demonstrations */
  --demo-darkBlue: #3171e0;
  --demo-mediumBlue: #3880ff;
  --demo-lightBlue: #eff6ff;
  --demo-darkGray: #3f3f46;
  --demo-mediumGray: #e0e0e0;
  --demo-lightGray: #f4f4f5;
  --demo-white: #fff;
  --demo-black: #000;

  /* Default Tailwind CSS Colors converted to CSS Variables. */
  --gray-50: #d6d9e2;
  --gray-100: #d1d3d9;
  --gray-200: #cbcdd0;
  --gray-300: #c6c6c6;
  --gray-400: #a5a5a5;
  --gray-500: #868686;
  --gray-600: #676767;
  --gray-700: #4a4a4a;
  --gray-800: #2f2f2f;
  --gray-900: #161616;
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --yellow-50: #fffbeb;
  --yellow-100: #fef6d8;
  --yellow-200: #fceebc;
  --yellow-300: #fcf0c5;
  --yellow-400: #fdeaa1;
  --yellow-500: #fee686;
  --yellow-600: #ffe269;
  --yellow-700: #ffde48;
  --yellow-800: #feda15;
  --yellow-900: #f6ba38;
  --green-50: #ecfdf5;
  --green-100: #e4fdf0;
  --green-200: #dcfcea;
  --green-300: #d5fbe3;
  --green-400: #cffbdc;
  --green-500: #a8ecb3;
  --green-600: #89de90;
  --green-700: #6ad06c;
  --green-800: #49c043;
  --green-900: #1DB100;
  --indigo-50: #c1f1ff;
  --indigo-100: #bbf3ff;
  --indigo-200: #b5f4ff;
  --indigo-300: #b0f5ff;
  --indigo-400: #81d9f2;
  --indigo-500: #52bce7;
  --indigo-600: #239fdb;
  --indigo-700: #0080cc;
  --indigo-800: #0f61b9;
  --indigo-900: #303f9f;
  --purple-50: #deedff;
  --purple-100: #dcedff;
  --purple-200: #daedff;
  --purple-300: #d7edff;
  --purple-400: #b1d2f5;
  --purple-500: #8fb8eb;
  --purple-600: #719ce0;
  --purple-700: #5981d3;
  --purple-800: #4764c4;
  --purple-900: #3d47b2;
  --pink-50: #ffe6f5;
  --pink-100: #ffdaf3;
  --pink-200: #ffd4f2;
  --pink-300: #ffcef2;
  --pink-400: #fcb7df;
  --pink-500: #f9a1c9;
  --pink-600: #f589b1;
  --pink-700: #f07296;
  --pink-800: #e85a79;
  --pink-900: #de425b;

  /* Utitlizing CSS properties here (screens) caused
     the responsive tailwind classes to simply fail.
     @todo: Make screens work with css variables. */
  /* --screen-xs: 480px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-xxl: 1440px;
  --screen-xxxl: 2180px; */

  --spacing-0: 0px;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;
  --spacing-px: 1px;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3.5rem;
  --fs-6xl: 4.5rem;
  --fs-7xl: 5.5rem;
  --fs-8xl: 6.5rem;
  --fs-9xl: 7.5rem;

  --lh-xs: 1rem;
  --lh-sm: 1.25rem;
  --lh-base: 1.5rem;
  --lh-lg: 1.75rem;
  --lh-xl: 1.75rem;
  --lh-2xl: 2rem;
  --lh-3xl: 2.25rem;
  --lh-4xl: 2.5rem;
  --lh-5xl: 3.75rem;
  --lh-6xl: 4.75rem;
  --lh-7xl: 5.75rem;
  --lh-8xl: 6.75rem;
  --lh-9xl: 7.75rem;

  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  /*
   * Configuration values for `outline-container`.
   */
  --outline-container-padding-x: 1.5rem;
  --outline-container-padding-y: 1.5rem;

  /*
   * Configuration values for `outline-link`.
   */
  --outline-link-color-default: var(--demo-darkBlue);
  --outline-link-color-hover: var(--demo-darkGray);
  --outline-link-color-focus: var(--demo-darkGray);

  /*
   * Configuration values for `outline-breadcrumb`.
   */
  --outline-breadcrumb-text-color-default: var(--demo-lightGray);
  --outline-breadcrumb-link-color-default: var(--demo-white);
  --outline-breadcrumb-link-color-hover: var(--demo-mediumGray);
  --outline-breadcrumb-link-color-focus: var(--demo-mediumGray);
  --outline-breadcrumb-link-decoration-default: none;
  --outline-breadcrumb-link-decoration-hover: underline;
  --outline-breadcrumb-link-decoration-focus: underline;
  --outline-breadcrumb-bg-color: var(--demo-darkGray);
  --outline-breadcrumb-bg-padding: var(--spacing-4) var(--spacing-4);
  --outline-breadcrumb-separator-spacing: var(--spacing-2);

  /*
  * Configuration values for `outline-admin-links`.
  * This component's styles represent a standard set of administrative
  * links like one found in Drupal or other systems.
  */
  --outline-admin-links-color-default: var(--demo-darkGray);
  --outline-admin-links-color-hover: var(--demo-black);
  --outline-admin-links-color-focus: var(--demo-black);
  --outline-admin-links-color-active: var(--demo-white);
  --outline-admin-links-bg-default: var(--demo-lightGray);
  --outline-admin-links-bg-hover: var(--demo-mediumGray);
  --outline-admin-links-bg-focus: var(--demo-mediumGray);
  --outline-admin-links-bg-active: var(--demo-darkGray);
  --outline-admin-links-y-spacing: var(--spacing-4);
  --outline-admin-links-link-y-spacing: var(--spacing-4);
  --outline-admin-links-link-x-spacing: var(--spacing-6);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Brand specific primary colors. */
    --brand-primary: #4d6ac7;
    --brand-secondary: #FFFFFE;
    --brand-tertiary: #69707b;
    --brand-quaternary: #8d97a5;
    --brand-nonary: #20315C;
    --brand-quinary: #b3c1d1;
    --brand-septenary: #aeccf3;
    --brand-octonary: #87ace6;
    --brand-denary: #3d47b2;
    --brand-senary: #474b53;

    /* Brand specific neutral colors & Generic tones/ */
    --neutral-transparent: transparent;
    --neutral-white: #FFFFFE;
    --neutral-grayLight: #c2c2c2;
    --neutral-grayMedium: #949494;
    --neutral-grayDark: #3f3f3f;
    --neutral-black: #1a1a1a;


    /* Colors for UI notification messages. */
    --status-success: #28ba62;
    --status-warning: #ffc409;
    --status-error: #eb445a;
    --status-info: var(--brand-primary);

    --ui-infoBackground: var(--status-info);
    --ui-infoText: var(--neutral-white);
    --ui-infoBorder: var(--status-info);

    --ui-successBackground: var(--status-success);
    --ui-successText: var(--neutral-white);
    --ui-successBorder: var(--status-success);

    --ui-warningBackground: var(--status-warning);
    --ui-warningText: var(--neutral-white);
    --ui-warningBorder: var(--neutral-white);

    --ui-errorBackground: var(--status-error);
    --ui-errorText: var(--neutral-white);
    --ui-errorBorder: var(--status-error);

    /* Demo colors used for default component demonstrations */
    --demo-darkBlue: #3171e0;
    --demo-mediumBlue: #3880ff;
    --demo-lightBlue: #eff6ff;
    --demo-darkGray: #3f3f46;
    --demo-mediumGray: #e0e0e0;
    --demo-lightGray: #f4f4f5;
    --demo-white: #fff;
    --demo-black: #000;

    /*
   * Configuration values for `outline-link`.
   */
    --outline-link-color-default: var(--demo-lightBlue);
    --outline-link-color-hover: var(--demo-lightGray);
    --outline-link-color-focus: var(--demo-lightGray);
  }
}