@import './hakion-dark-mode-toggle.common.css';

:host {
  display: inline;
  background: var(--ion-background-color-rgb);
  position: abolute;
  top: 10;
  right: 40;
}
/* hakion-dark-mode-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
} */

.dark {
  color: white;
  background-color: black;
}
