@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
/* Core CSS required for Ionic components to work properly */
@import '~@ionic/core/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/core/css/normalize.css';
@import '~@ionic/core/css/structure.css';
@import '~@ionic/core/css/typography.css';
@import '~@ionic/core/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/core/css/padding.css';
@import '~@ionic/core/css/float-elements.css';
@import '~@ionic/core/css/text-alignment.css';
@import '~@ionic/core/css/text-transformation.css';
@import '~@ionic/core/css/flex-utils.css';

@import '../theme/variables.scss'; /* Custom styles */
@import '../theme/dark-theme.scss'; /* Custom styles */

[tabindex='-1']:focus {
  outline: none !important;
}

* {
  transition: var(--transition);
}
html:not(.hydrated) body {
  display: block;
}
