$ion-color-primary: #4977ad;
$ion-color-primary-rgb: 73, 119, 173;
$ion-color-primary-contrast: #ffffff;
$ion-color-primary-contrast-rgb: 255, 255, 255;
$ion-color-primary-shade: #406998;
$ion-color-primary-tint: #5b85b5;

$ion-color-secondary: #4977ad;
$ion-color-secondary-rgb: 73, 119, 173;
$ion-color-secondary-contrast: #ffffff;
$ion-color-secondary-contrast-rgb: 255, 255, 255;
$ion-color-secondary-shade: #406998;
$ion-color-secondary-tint: #5b85b5;

$ion-color-tertiary: #40cbc7;
$ion-color-tertiary-rgb: 64, 203, 199;
$ion-color-tertiary-contrast: #000000;
$ion-color-tertiary-contrast-rgb: 0, 0, 0;
$ion-color-tertiary-shade: #38b3af;
$ion-color-tertiary-tint: #53d0cd;

$ion-color-success: #23b674;
$ion-color-success-rgb: 35, 182, 116;
$ion-color-success-contrast: #000000;
$ion-color-success-contrast-rgb: 0, 0, 0;
$ion-color-success-shade: #1fa066;
$ion-color-success-tint: #39bd82;

$ion-color-warning: #f39c10;
$ion-color-warning-rgb: 243, 156, 16;
$ion-color-warning-contrast: #000000;
$ion-color-warning-contrast-rgb: 0, 0, 0;
$ion-color-warning-shade: #d6890e;
$ion-color-warning-tint: #f4a628;

$ion-color-danger: #ff5757;
$ion-color-danger-rgb: 255, 87, 87;
$ion-color-danger-contrast: #000000;
$ion-color-danger-contrast-rgb: 0, 0, 0;
$ion-color-danger-shade: #e04d4d;
$ion-color-danger-tint: #ff6868;

$ion-color-medium: #92949c;
$ion-color-medium-rgb: 146, 148, 156;
$ion-color-medium-contrast: #000000;
$ion-color-medium-contrast-rgb: 0, 0, 0;
$ion-color-medium-shade: #808289;
$ion-color-medium-tint: #9d9fa6;

$ion-color-light: #f4f5f8;
$ion-color-light-rgb: 244, 245, 248;
$ion-color-light-contrast: #000000;
$ion-color-light-contrast-rgb: 0, 0, 0;
$ion-color-light-shade: #d7d8da;
$ion-color-light-tint: #f5f6f9;
