/* The default is notice. */
#body {
  @apply relative flex w-full px-8 py-4 text-ui-infoText;
  background-color: var(--brand-primary);
  border-radius: 3px;
}

#body .float {
  @apply flex h-14 w-full max-w-md flex-col justify-start bg-ui-info px-8 text-ui-infoText shadow-lg;
}

#header {
  @apply px-4 text-lg font-bold capitalize;
  margin-top: auto;
  margin-bottom: auto;
}

#message {
  @apply flex flex-col justify-start px-4 text-sm;

  margin-top: auto;
  margin-bottom: auto;
}

#alert-link {
  @apply text-sm;
  color: var(--outline-link-color-default);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

:host([spanType='float']) #message {
  @apply pb-2 text-sm;
}

:host([spanType='float']) #body {
  @apply flex max-w-md flex-col justify-start px-4 shadow-xl;
}

:host([spanType='full']) #body {
  @apply w-full items-center px-4;
}

:host([statusType='warning']) #body {
  @apply bg-ui-warning text-ui-warningText;
  border-color: var(--ui-warningText);
}

:host([statusType='error']) #body {
  @apply bg-ui-error text-ui-errorText;

  border-color: var(--ui-errorText);
}

:host([statusType='success']) #body {
  @apply bg-ui-success text-ui-successText;

  border-color: var(--ui-successText);
}
