@import '../../dist/storybook.css';

/*
 * Due to the specificity of Storybook's styles any of
 * our overrides must include an important declaration.
 */
.sbdocs-h1 {
  @apply mb-4 border-none from-neutral-grayMedium p-2 font-display text-3xl !important;
  color: var(--nub-text-color-default) !important;
}

.sbdocs-h2 {
  @apply mb-4 border-none p-2 font-display text-2xl font-semibold !important;
  color: var(--nub-text-color-default) !important;
}

nub-header,
strong,
i,
ul,
th,
li,
blockquote {
  color: var(--nub-text-color-default) !important;
}

.sbdocs .sbdocs-content {
  max-width: 2240px;
  color: var(--nub-text-color-default) !important;
}

.sbdocs-p {
  @apply mt-0 !important;
  color: var(--nub-text-color-default) !important;
}

[data-theme='light'],
.sbdocs .sbdocs-wrapper > div {
  background: var(--nub-bg-body-default) !important;
}

[data-theme='dark'],
.sbdocs .sbdocs-wrapper > * {
  background: var(--nub-bg-body-default) !important;
}

#storybook-preview-wrapper {
  background: var(--nub-bg-body-default) !important;
}

[data-theme='light'],
#docs-root {
  background: var(--neutral-grayDark) !important;
}

[data-theme='light'],
#docs-root .docs-story {
  background: var(--nub-bg-body-default) !important;
}

[data-theme='dark'],
#docs-root {
  background: var(--nub-bg-body-default) !important;
  color: var(--nub-text-color-default) !important;
}

[data-theme='dark'],
.docs-story {
  background: var(--nub-bg-body-default) !important;
  color: var(--nub-text-color-default) !important;
}

[data-theme='dark'],
.sbdocs.sbdocs-preview > * {
  background: var(--nub-bg-body-default) !important;
  color: var(--nub-text-color-default) !important;
}

.sbdocs.sbdocs-preview code > * {
  @apply text-xs !important;
}
