@import './hakion-button.common.css';

:root {
  padding: 0 12px;
}

hakion-button ion-text {
  box-shadow: 10px 5px 5px red;
  color: var(--ion-color-primary);
}

hakion-button .button {
  float: right;
  margin: 400px;
  top: 10;
  right: 500px;
  border: 12px solid black;
  margin: 30px;
}

button {
  box-shadow: 10px 5px 5px rgb(0, 255, 64);
}
